
body {
    background-color: #05051a;
    color: white;
    font-family: Arial, sans-serif,roboto;

    display: flex;
    flex-direction: column;
}

.content {
    padding:400px;
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    padding:25px;
    margin:0;
}

.navbar a:not(.btn-login){
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.btn-signup {
    background-color: #56b3a3;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;

}

.btn-login {
    background-color: #fff9e6;
    color: black;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
}
main{
    margin:20px;
}

footer{
    display: flex;
    justify-content: space-between;
}
.description{
    flex:1;
    margin-right: 20px;
    margin-left: 20px;

}
.activitie{
    flex:0.5

}
.social{
    flex:2;
    display: flex;
    padding-bottom:50px;
   align-items: center;
}
.activitie a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    display:block;
    margin-bottom: 10px;

}
.Contacts{
    flex:2;
}